frr version 4.0+cl3u1
frr defaults datacenter
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if ospf is defined %}
router ospf
 ospf router-id {{ lo | regex_replace('/32') }}
 log-adjacency-changes detail
 timers throttle spf 5 100 500
 timers lsa min-arrival 50
{%   for port in ospf %}
 network {{ ospf[port]["network"] }} area 0
{%   endfor %}
 redistribute kernel
 redistribute static
 redistribute connected
!
{% for port in ospf -%}
interface {{ port }}
 ip ospf network broadcast
 ip ospf cost 1
 ip ospf hello-interval 10
 ip ospf dead-interval 40
 ip ospf retransmit-interval 5
 ip ospf transmit-delay 1
!
{% endfor %}
{% endif %}
ip forwarding
!
{% if (vlans is defined and vlans | length) or (static_routes is defined and static_routes | length) %}
{%   if vlans is defined and vlans | length %}
{%     for vlan in vlans %}
ip route {{ vlans[vlan]["subnet"] }} {{ fw_carp_address }}
{%     endfor %}
{%   endif %}
{%   if static_routes is defined and static_routes | length %}
{%     for route in static_routes %}
ip route {{ route.network }} {{ route.gateway }}
{%     endfor %}
{%   endif %}
!
{% endif %}
{% if bgp is defined %}
router bgp {{ bgp.asn }}
 bgp router-id {{ lo | regex_replace('/32') }}
 neighbor peerlink.4094 interface remote-as internal
{%   for neighbor in bgp.neighbors %}
 neighbor {{ neighbor.address }} remote-as {{ neighbor.asn }}
{%   endfor %}
 distance bgp 20 100 100
 !
 address-family ipv4 unicast
  redistribute connected
  redistribute static
 exit-address-family
 !
!
{% endif %}
line vty
