###############
# Ansible generated config, will be overwritten!
###############

###############
# General
###############

{% if lo is defined %}
auto lo
iface lo inet loopback
   address {{ lo }}
{% endif %}

auto eth0
iface eth0 inet dhcp
  vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# Bridge / Vlans
###############

auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports {{ aggregation_ports | join(" ") }} peerlink {% if ospf is defined %}{% for port in ospf["members"] -%} {{ port }} {% endfor %}{% endif %}

  bridge-vids {{ vlans | sort | join(" ") }} {% if ospf is defined %}{{ ospf["lnk-vlan"] }}{% endif %}

{% if bridge is defined %}
  bridge-stp on
{% if bridge["priority"] is defined %}
  mstpctl-treeprio {{ bridge["priority"] }}
{% endif %}
{% endif %}

{% if ib_mgmt is defined %}
###############
# In band mgmt
###############

auto vlan{{ ib_mgmt }}
iface vlan{{ib_mgmt}}
  address 10.{{ ib_mgmt }}.0.{{ lo | regex_replace('^10.255.255.(.*)$', '\\1') }}
  vlan-id {{ ib_mgmt }}
  vlan-raw-device bridge
{% endif %}

{% if mlag is defined %}
###############
# MLAG
###############

auto peerlink
iface peerlink
  bond-slaves {{ mlag["members"] | join(" ") }}
  mtu 9216

auto peerlink.4094
iface peerlink.4094
  address {{ mlag["address"] }}
  clagd-peer-ip {{ mlag["peer-ip"] }}
  clagd-backup-ip {{ mlag["backup-ip"] }} vrf mgmt
  clagd-sys-mac {{ mlag["sysmac"] }}
  {% if mlag["priority"] is defined %}
  clagd-priority {{ mlag["priority"] }}
  {% endif %}
  clagd-args --initDelay 180
{% endif %}

{% if aggregation_ports is defined %}
####################
# Aggregation ports
####################

{% for port in aggregation_ports -%}

{% if aggregation_ports[port]["mlag"] %}
{% for member in aggregation_ports[port]["members"] -%}
auto {{ member }}
iface {{ member }}
{% endfor %}
{% endif %}

auto {{ port }}
iface {{ port }}
  mtu 9000
  {% if aggregation_ports[port]["alias"] is defined %}
  alias {{ aggregation_ports[port]["alias"] }}
  {% endif %}
  {% if aggregation_ports[port]["mlag"] %}
  clag-id {{ aggregation_ports[port]["mlag-id"] }}
  bond-slaves {{ aggregation_ports[port]["members"] | join(" ") }}
  {% endif %}
  {% if aggregation_ports[port]["trunk"] %}
  {% if aggregation_ports[port]["vlans"] is defined %}
  bridge-vids {{ aggregation_ports[port]["vlans"] | join(" ") }}
  {% endif %}
  {% else %}
  bridge-access {{ aggregation_ports[port]["vlan"] }}
  {% endif %}

{% endfor %}
{% endif %}

{% if ospf is defined %}
###############
# OSPF ports
###############

auto vlan{{ ospf["lnk-vlan"] }}
iface vlan{{ ospf["lnk-vlan"] }}
  address {{ ospf["router-address"] }}
  vlan-id {{ ospf["lnk-vlan"] }}
  vlan-raw-device bridge

{% for port in ospf["members"] -%}
auto {{ port }}
iface {{ port }}
  mtu 1500
  bridge-pvid {{ ospf["lnk-vlan"] }}

{% endfor %}
{% endif %}
