###############
# Ansible generated config, will be overwritten!
###############

###############
# General
###############
auto lo
iface lo inet loopback
   address {{ lo }}

auto eth0
iface eth0 inet dhcp
  vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# Bridge / Vlans
###############

auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports {{ ports | join(" ") }} peerlink {% if ospf is defined %}{% for port in ospf["members"] -%} {{ port }} {% endfor %}{% endif %}

  bridge-vids {{ vlans | join(" ") }} {% if ospf is defined %}{{ ospf["lnk-vlan"] }}{% endif %}

  {% if bridge is defined %}
  bridge-pvid {{ bridge["native"] }}
  bridge-stp on
  {% if bridge["priority"] is defined %}
  mstpctl-treeprio {{ bridge["priority"] }}
  {% endif %}
  {% endif %}

###############
# In band mgmt
###############

auto vlan{{ ib_mgmt }}
iface vlan{{ib_mgmt}}
  address 10.{{ ib_mgmt }}.0.{{ lo | regex_replace('^10.255.255.(.*)$', '\\1') }}
  vlan-id {{ ib_mgmt }}
  vlan-raw-device bridge

###############
# MLAG
###############

{% if mlag is defined %}
auto peerlink
iface peerlink
  bond-slaves {{ mlag["members"] | join(" ") }}
  mtu 9216

auto peerlink.4094
iface peerlink.4094
  address {{ mlag["address"] }}
  clagd-peer-ip {{ mlag["peer-ip"] }}
  clagd-backup-ip {{ mlag["backup-ip"] }} vrf mgmt
  clagd-sys-mac {{ mlag["sysmac"] }}
  {% if mlag["priority"] is defined %}
  clagd-priority {{ mlag["priority"] }}
  {% endif %}
  clagd-args --initDelay 180
{% endif %}

{% if svi == true %}
###############
# SVIs
###############
{% if mlag is defined %}
{% for svi in vlans -%}
auto vlan{{ svi }}
iface vlan{{ svi }}
  {% if mlag["primary"] == "true" %}
  address {{ vlans[svi]["ipv4-1"] }}
  {% else %}
  address {{ vlans[svi]["ipv4-2"] }}
  {% endif %}
  vlan-id {{ svi }}
  vlan-raw-device bridge
  address-virtual 00:00:5e:00:01:01 {{ vlans[svi]["ipv4-virtual"] }}

{% endfor %}
{% endif %}
{% endif %}
###############
# Client ports
###############

{% if ports is defined %}
{% for port in ports -%}

{% if ports[port]["mlag"] %}
{% for member in ports[port]["members"] -%}
auto {{ member }}
iface {{ member }}
{% endfor %}
{% endif %}

auto {{ port }}
iface {{ port }}
  {% if ports[port]["mtu"] is defined %}
  mtu {{ ports[port]["mtu"] }}
  {% else %}
  mtu 9000
  {% endif %}
  {% if ports[port]["alias"] is defined %}
  alias {{ ports[port]["alias"] }}
  {% endif %}
  {% if ports[port]["mlag"] %}
  clag-id {{ ports[port]["mlag-id"] }}
  bond-slaves {{ ports[port]["members"] | join(" ") }}
  {% endif %}
  {% if ports[port]["trunk"] %}
  {% if ports[port]["vlans"] is defined %}
  bridge-vids {{ ports[port]["vlans"] | join(" ") }}
  {% endif %}
  {% else %}
  bridge-access {{ ports[port]["vlan"] }}
  {% endif %}

{% endfor %}
{% endif %}

{% if ospf is defined %}
###############
# OSPF ports
###############

auto vlan{{ ospf["lnk-vlan"] }}
iface vlan{{ ospf["lnk-vlan"] }}
  address {{ ospf["router-id"] }}
  vlan-id {{ ospf["lnk-vlan"] }}
  vlan-raw-device bridge

{% for port in ospf["members"] -%}
auto {{ port }}
iface {{ port }}
  mtu 9000
  bridge-pvid {{ ospf["lnk-vlan"] }}

{% endfor %}
{% endif %}
