frr version 4.0+cl3u1
frr defaults datacenter
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if ospf is defined %}
router ospf
  ospf router-id {{ ospf["router-id"] }}
  log-adjacency-changes detail
  timers throttle spf 5 100 500
  timers lsa min-arrival 50
  network {{ routing["ospf"]["network"] }} area 0.0.0.0
  redistribute static
!
ip forwarding
!
{% for route in vlans -%}
ip route 10.{{route}}.0.0/16 {{ routing["ospf"]["fw-carp-address"] }}
{% endfor %}
{% if routing["ospf"]["static-routes"] is defined %}
{% for route in routing["ospf"]["static-routes"] -%}
ip route {{route}} {{routing["ospf"]["fw-carp-address"]}}
{% endfor %}
{% endif %}
!
interface vlan{{ ospf["lnk-vlan"] }}
 ip ospf network point-to-point
{% endif %}
!
line vty
