frr version 4.0+cl3u1
frr defaults datacenter
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if ospf is defined %}
router ospf
  ospf router-id {{ inventory_hostname }}
  log-adjacency-changes detail
  timers throttle spf 5 100 500
  timers lsa min-arrival 50
  {% for port in ospf -%}
  network {{ ospf[port]["network"] }} area 0
  {% endfor %}
  redistribute kernel
  redistribute static
  redistribute connected
!
ip forwarding
!
{% for port in ospf -%}
interface {{ port }}
 ip ospf network broadcast
 ip ospf cost 1
 ip ospf hello-interval 10
 ip ospf dead-interval 40
 ip ospf retransmit-interval 5
 ip ospf transmit-delay 1
{% endfor %}
{% endif %}
!
line vty
